.achievementsList {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  border-top: #4106e4 1px solid;
  padding-top: 8px;
}

.achievement {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px orange solid;
  color: black;
  white-space: nowrap;
  border-radius: 4px;
  padding: 5px 10px;
}
