.tableHeader {
    background: var(--main-background);
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: var(--border);
}

.titleContainer {
    padding: 16px;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    width: 100%;

}